<div class="row">
	<div class="col-lg-7">
		<div class="online-exam">
			
		</div>
	</div>
	<div class="col-lg-5">
		<form class="form-horizontal">
			<div class="row form-group">
				<label class="col-lg-2">Email:</label>
				<div class="col-lg-6">
				<input class="form-control" placeholder="username"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="col-lg-2">Password:</label>
				<div class="col-lg-6">
				<input class="form-control" type="password" placeholder="password"></input>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-8">
				<button type="submit" class="btn btn-primary">Login</button>
				<hr/>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-12">Also Login with......</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-12">
					<button type="submit" id="facebook" class="btn btn-primary">Facebook</button>
					<button type="submit" id="twitter" class="btn btn-primary">Twitter</button>
					<button type="submit" id="google" class="btn btn-primary">Google+</button>
				</div>				
			</div>
		</form>
	</div>
</div>